div,
a,
p,
h1,
img {
    /* Layout */
    &.sp-style__layout-display__flex {
        display: flex;
        flex-direction: row;
    }
    &.sp-style__layout-display__grid {
        display: grid;
    }

    /* Aligment Flex */

    &.sp-style__layout-display__flex.sp-style__layout-justify-content__start {
        justify-content: flex-start;
    }

    &.sp-style__layout-display__flex.sp-style__layout-justify-content__center {
        justify-content: center;
    }

    &.sp-style__layout-display__flex.sp-style__layout-justify-content__end {
        justify-content: flex-end;
    }

    &.sp-style__layout-display__flex.sp-style__layout-justify-content__between {
        justify-content: space-between
    }

    &.sp-style__layout-display__flex.sp-style__layout-align-items__start {
        align-items: flex-start;
    }

    &.sp-style__layout-display__flex.sp-style__layout-align-items__center {
        align-items: center;
    }

    &.sp-style__layout-display__flex.sp-style__layout-align-items__end {
        align-items: flex-end;
    }

    /* Flex Direction */

    &.sp-style__layout-display__flex.sp-style__layout-flex-direction__row {
        flex-direction: row;
    }

    &.sp-style__layout-display__flex.sp-style__layout-flex-direction__column {
        flex-direction: column;
    }

    /* Aligment Grid */

    &.sp-style__layout-display__grid.sp-style__layout-justify-content__start {
        justify-items: start;
    }

    &.sp-style__layout-display__grid.sp-style__layout-justify-content__center {
        justify-items: center;
    }

    &.sp-style__layout-display__grid.sp-style__layout-justify-content__end {
        justify-items: end;
    }

    &.sp-style__layout-display__grid.sp-style__layout-align-items__start {
        align-items: end;
    }

    &.sp-style__layout-display__grid.sp-style__layout-align-items__center {
        align-items: center;
    }

    &.sp-style__layout-display__grid.sp-style__layout-align-items__end {
        align-items: start;
    }

    /* Grid Columns and Rows */

    &.sp-style__layout-grid-template__columns-1 {
        grid-template-columns: 1fr;
    }

    &.sp-style__layout-grid-template__columns-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &.sp-style__layout-grid-template__columns-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.sp-style__layout-grid-template__columns-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.sp-style__layout-grid-template__columns-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    &.sp-style__layout-grid-template__columns-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    &.sp-style__layout-grid-template__columns-7 {
        grid-template-columns: repeat(7, 1fr);
    }

    &.sp-style__layout-grid-template__columns-8 {
        grid-template-columns: repeat(8, 1fr);
    }

    &.sp-style__layout-grid-template__columns-9 {
        grid-template-columns: repeat(9, 1fr);
    }

    &.sp-style__layout-grid-template__columns-10 {
        grid-template-columns: repeat(10, 1fr);
    }

    &.sp-style__layout-grid-template__columns-11 {
        grid-template-columns: repeat(11, 1fr);
    }

    &.sp-style__layout-grid-template__columns-12 {
        grid-template-columns: repeat(12, 1fr);
    }

    &.sp-style__layout-grid-template__rows-1 {
        grid-template-rows: 1fr;
    }

    &.sp-style__layout-grid-template__rows-2 {
        grid-template-rows: repeat(2, 1fr);
    }

    &.sp-style__layout-grid-template__rows-3 {
        grid-template-rows: repeat(3, 1fr);
    }

    &.sp-style__layout-grid-template__rows-4 {
        grid-template-rows: repeat(4, 1fr);
    }

    &.sp-style__layout-grid-template__rows-5 {
        grid-template-rows: repeat(5, 1fr);
    }

    &.sp-style__layout-grid-template__rows-6 {
        grid-template-rows: repeat(6, 1fr);
    }

    &.sp-style__layout-grid-template__rows-7 {
        grid-template-rows: repeat(7, 1fr);
    }

    &.sp-style__layout-grid-template__rows-8 {
        grid-template-rows: repeat(8, 1fr);
    }

    &.sp-style__layout-grid-template__rows-9 {
        grid-template-rows: repeat(9, 1fr);
    }

    &.sp-style__layout-grid-template__rows-10 {
        grid-template-rows: repeat(10, 1fr);
    }

    &.sp-style__layout-grid-template__rows-11 {
        grid-template-rows: repeat(11, 1fr);
    }

    &.sp-style__layout-grid-template__rows-12 {
        grid-template-rows: repeat(12, 1fr);
    }

    /* Gap Spacing */

    &.sp-style__layout-gap__0 {
        gap: 0px;
    }

    &.sp-style__layout-gap__0_5 {
        gap: 2px;
    }

    &.sp-style__layout-gap__1 {
        gap: 4px;
    }

    &.sp-style__layout-gap__1_5 {
        gap: 6px;
    }

    &.sp-style__layout-gap__2 {
        gap: 8px;
    }

    &.sp-style__layout-gap__2_5 {
        gap: 10px;
    }

    &.sp-style__layout-gap__3 {
        gap: 12px;
    }

    &.sp-style__layout-gap__3_5 {
        gap: 14px;
    }

    &.sp-style__layout-gap__4 {
        gap: 16px;
    }

    &.sp-style__layout-gap__5 {
        gap: 20px;
    }

    &.sp-style__layout-gap__6 {
        gap: 24px;
    }

    &.sp-style__layout-gap__7 {
        gap: 28px;
    }

    &.sp-style__layout-gap__8 {
        gap: 32px;
    }

    &.sp-style__layout-gap__9 {
        gap: 36px;
    }

    &.sp-style__layout-gap__10 {
        gap: 40px;
    }

    &.sp-style__layout-gap__11 {
        gap: 44px;
    }

    &.sp-style__layout-gap__12 {
        gap: 48px;
    }

    &.sp-style__layout-gap__14 {
        gap: 56px;
    }

    &.sp-style__layout-gap__16 {
        gap: 64px;
    }

    &.sp-style__layout-gap__20 {
        gap: 80px;
    }

    &.sp-style__layout-gap__24 {
        gap: 96px;
    }

    &.sp-style__layout-gap__28 {
        gap: 112px;
    }

    &.sp-style__layout-gap__32 {
        gap: 128px;
    }

    &.sp-style__layout-gap__36 {
        gap: 144px;
    }

    &.sp-style__layout-gap__40 {
        gap: 160px;
    }

    &.sp-style__layout-gap__44 {
        gap: 176px;
    }

    &.sp-style__layout-gap__48 {
        gap: 192px;
    }

    &.sp-style__layout-gap__52 {
        gap: 208px;
    }

    &.sp-style__layout-gap__56 {
        gap: 224px;
    }

    &.sp-style__layout-gap__60 {
        gap: 240px;
    }

    &.sp-style__layout-gap__64 {
        gap: 256px;
    }

    &.sp-style__layout-gap__72 {
        gap: 288px;
    }

    &.sp-style__layout-gap__80 {
        gap: 320px;
    }

    &.sp-style__layout-gap__96 {
        gap: 384px;
    }

    /* Margin Left Spacing */

    &.sp-style__spacing-margin-left__0 {
        margin-left: 0px;
    }

    &.sp-style__spacing-margin-left__0_5 {
        margin-left: 2px;
    }

    &.sp-style__spacing-margin-left__1 {
        margin-left: 4px;
    }

    &.sp-style__spacing-margin-left__1_5 {
        margin-left: 6px;
    }

    &.sp-style__spacing-margin-left__2 {
        margin-left: 8px;
    }

    &.sp-style__spacing-margin-left__2_5 {
        margin-left: 10px;
    }

    &.sp-style__spacing-margin-left__3 {
        margin-left: 12px;
    }

    &.sp-style__spacing-margin-left__3_5 {
        margin-left: 14px;
    }

    &.sp-style__spacing-margin-left__4 {
        margin-left: 16px;
    }

    &.sp-style__spacing-margin-left__5 {
        margin-left: 20px;
    }

    &.sp-style__spacing-margin-left__6 {
        margin-left: 24px;
    }

    &.sp-style__spacing-margin-left__7 {
        margin-left: 28px;
    }

    &.sp-style__spacing-margin-left__8 {
        margin-left: 32px;
    }

    &.sp-style__spacing-margin-left__9 {
        margin-left: 36px;
    }

    &.sp-style__spacing-margin-left__10 {
        margin-left: 40px;
    }

    &.sp-style__spacing-margin-left__11 {
        margin-left: 44px;
    }

    &.sp-style__spacing-margin-left__12 {
        margin-left: 48px;
    }

    &.sp-style__spacing-margin-left__14 {
        margin-left: 56px;
    }

    &.sp-style__spacing-margin-left__16 {
        margin-left: 64px;
    }

    &.sp-style__spacing-margin-left__20 {
        margin-left: 80px;
    }

    &.sp-style__spacing-margin-left__24 {
        margin-left: 96px;
    }

    &.sp-style__spacing-margin-left__28 {
        margin-left: 112px;
    }

    &.sp-style__spacing-margin-left__32 {
        margin-left: 128px;
    }

    &.sp-style__spacing-margin-left__36 {
        margin-left: 144px;
    }

    &.sp-style__spacing-margin-left__40 {
        margin-left: 160px;
    }

    &.sp-style__spacing-margin-left__44 {
        margin-left: 176px;
    }

    &.sp-style__spacing-margin-left__48 {
        margin-left: 192px;
    }

    &.sp-style__spacing-margin-left__52 {
        margin-left: 208px;
    }

    &.sp-style__spacing-margin-left__56 {
        margin-left: 224px;
    }

    &.sp-style__spacing-margin-left__60 {
        margin-left: 240px;
    }

    &.sp-style__spacing-margin-left__64 {
        margin-left: 256px;
    }

    &.sp-style__spacing-margin-left__72 {
        margin-left: 288px;
    }

    &.sp-style__spacing-margin-left__80 {
        margin-left: 320px;
    }

    &.sp-style__spacing-margin-left__96 {
        margin-left: 384px;
    }

    /* Margin Right Spacing */

    &.sp-style__spacing-margin-right__0 {
        margin-right: 0px;
    }

    &.sp-style__spacing-margin-right__0_5 {
        margin-right: 2px;
    }

    &.sp-style__spacing-margin-right__1 {
        margin-right: 4px;
    }

    &.sp-style__spacing-margin-right__1_5 {
        margin-right: 6px;
    }

    &.sp-style__spacing-margin-right__2 {
        margin-right: 8px;
    }

    &.sp-style__spacing-margin-right__2_5 {
        margin-right: 10px;
    }

    &.sp-style__spacing-margin-right__3 {
        margin-right: 12px;
    }

    &.sp-style__spacing-margin-right__3_5 {
        margin-right: 14px;
    }

    &.sp-style__spacing-margin-right__4 {
        margin-right: 16px;
    }

    &.sp-style__spacing-margin-right__5 {
        margin-right: 20px;
    }

    &.sp-style__spacing-margin-right__6 {
        margin-right: 24px;
    }

    &.sp-style__spacing-margin-right__7 {
        margin-right: 28px;
    }

    &.sp-style__spacing-margin-right__8 {
        margin-right: 32px;
    }

    &.sp-style__spacing-margin-right__9 {
        margin-right: 36px;
    }

    &.sp-style__spacing-margin-right__10 {
        margin-right: 40px;
    }

    &.sp-style__spacing-margin-right__11 {
        margin-right: 44px;
    }

    &.sp-style__spacing-margin-right__12 {
        margin-right: 48px;
    }

    &.sp-style__spacing-margin-right__14 {
        margin-right: 56px;
    }

    &.sp-style__spacing-margin-right__16 {
        margin-right: 64px;
    }

    &.sp-style__spacing-margin-right__20 {
        margin-right: 80px;
    }

    &.sp-style__spacing-margin-right__24 {
        margin-right: 96px;
    }

    &.sp-style__spacing-margin-right__28 {
        margin-right: 112px;
    }

    &.sp-style__spacing-margin-right__32 {
        margin-right: 128px;
    }

    &.sp-style__spacing-margin-right__36 {
        margin-right: 144px;
    }

    &.sp-style__spacing-margin-right__40 {
        margin-right: 160px;
    }

    &.sp-style__spacing-margin-right__44 {
        margin-right: 176px;
    }

    &.sp-style__spacing-margin-right__48 {
        margin-right: 192px;
    }

    &.sp-style__spacing-margin-right__52 {
        margin-right: 208px;
    }

    &.sp-style__spacing-margin-right__56 {
        margin-right: 224px;
    }

    &.sp-style__spacing-margin-right__60 {
        margin-right: 240px;
    }

    &.sp-style__spacing-margin-right__64 {
        margin-right: 256px;
    }

    &.sp-style__spacing-margin-right__72 {
        margin-right: 288px;
    }

    &.sp-style__spacing-margin-right__80 {
        margin-right: 320px;
    }

    &.sp-style__spacing-margin-right__96 {
        margin-right: 384px;
    }

    /* Margin Top Spacing */

    &.sp-style__spacing-margin-top__0 {
        margin-top: 0px;
    }

    &.sp-style__spacing-margin-top__0_5 {
        margin-top: 2px;
    }

    &.sp-style__spacing-margin-top__1 {
        margin-top: 4px;
    }

    &.sp-style__spacing-margin-top__1_5 {
        margin-top: 6px;
    }

    &.sp-style__spacing-margin-top__2 {
        margin-top: 8px;
    }

    &.sp-style__spacing-margin-top__2_5 {
        margin-top: 10px;
    }

    &.sp-style__spacing-margin-top__3 {
        margin-top: 12px;
    }

    &.sp-style__spacing-margin-top__3_5 {
        margin-top: 14px;
    }

    &.sp-style__spacing-margin-top__4 {
        margin-top: 16px;
    }

    &.sp-style__spacing-margin-top__5 {
        margin-top: 20px;
    }

    &.sp-style__spacing-margin-top__6 {
        margin-top: 24px;
    }

    &.sp-style__spacing-margin-top__7 {
        margin-top: 28px;
    }

    &.sp-style__spacing-margin-top__8 {
        margin-top: 32px;
    }

    &.sp-style__spacing-margin-top__9 {
        margin-top: 36px;
    }

    &.sp-style__spacing-margin-top__10 {
        margin-top: 40px;
    }

    &.sp-style__spacing-margin-top__11 {
        margin-top: 44px;
    }

    &.sp-style__spacing-margin-top__12 {
        margin-top: 48px;
    }

    &.sp-style__spacing-margin-top__14 {
        margin-top: 56px;
    }

    &.sp-style__spacing-margin-top__16 {
        margin-top: 64px;
    }

    &.sp-style__spacing-margin-top__20 {
        margin-top: 80px;
    }

    &.sp-style__spacing-margin-top__24 {
        margin-top: 96px;
    }

    &.sp-style__spacing-margin-top__28 {
        margin-top: 112px;
    }

    &.sp-style__spacing-margin-top__32 {
        margin-top: 128px;
    }

    &.sp-style__spacing-margin-top__36 {
        margin-top: 144px;
    }

    &.sp-style__spacing-margin-top__40 {
        margin-top: 160px;
    }

    &.sp-style__spacing-margin-top__44 {
        margin-top: 176px;
    }

    &.sp-style__spacing-margin-top__48 {
        margin-top: 192px;
    }

    &.sp-style__spacing-margin-top__52 {
        margin-top: 208px;
    }

    &.sp-style__spacing-margin-top__56 {
        margin-top: 224px;
    }

    &.sp-style__spacing-margin-top__60 {
        margin-top: 240px;
    }

    &.sp-style__spacing-margin-top__64 {
        margin-top: 256px;
    }

    &.sp-style__spacing-margin-top__72 {
        margin-top: 288px;
    }

    &.sp-style__spacing-margin-top__80 {
        margin-top: 320px;
    }

    &.sp-style__spacing-margin-top__96 {
        margin-top: 384px;
    }

    /* Margin Bottom Spacing */

    &.sp-style__spacing-margin-bottom__0 {
        margin-bottom: 0px;
    }

    &.sp-style__spacing-margin-bottom__0_5 {
        margin-bottom: 2px;
    }

    &.sp-style__spacing-margin-bottom__1 {
        margin-bottom: 4px;
    }

    &.sp-style__spacing-margin-bottom__1_5 {
        margin-bottom: 6px;
    }

    &.sp-style__spacing-margin-bottom__2 {
        margin-bottom: 8px;
    }

    &.sp-style__spacing-margin-bottom__2_5 {
        margin-bottom: 10px;
    }

    &.sp-style__spacing-margin-bottom__3 {
        margin-bottom: 12px;
    }

    &.sp-style__spacing-margin-bottom__3_5 {
        margin-bottom: 14px;
    }

    &.sp-style__spacing-margin-bottom__4 {
        margin-bottom: 16px;
    }

    &.sp-style__spacing-margin-bottom__5 {
        margin-bottom: 20px;
    }

    &.sp-style__spacing-margin-bottom__6 {
        margin-bottom: 24px;
    }

    &.sp-style__spacing-margin-bottom__7 {
        margin-bottom: 28px;
    }

    &.sp-style__spacing-margin-bottom__8 {
        margin-bottom: 32px;
    }

    &.sp-style__spacing-margin-bottom__9 {
        margin-bottom: 36px;
    }

    &.sp-style__spacing-margin-bottom__10 {
        margin-bottom: 40px;
    }

    &.sp-style__spacing-margin-bottom__11 {
        margin-bottom: 44px;
    }

    &.sp-style__spacing-margin-bottom__12 {
        margin-bottom: 48px;
    }

    &.sp-style__spacing-margin-bottom__14 {
        margin-bottom: 56px;
    }

    &.sp-style__spacing-margin-bottom__16 {
        margin-bottom: 64px;
    }

    &.sp-style__spacing-margin-bottom__20 {
        margin-bottom: 80px;
    }

    &.sp-style__spacing-margin-bottom__24 {
        margin-bottom: 96px;
    }

    &.sp-style__spacing-margin-bottom__28 {
        margin-bottom: 112px;
    }

    &.sp-style__spacing-margin-bottom__32 {
        margin-bottom: 128px;
    }

    &.sp-style__spacing-margin-bottom__36 {
        margin-bottom: 144px;
    }

    &.sp-style__spacing-margin-bottom__40 {
        margin-bottom: 160px;
    }

    &.sp-style__spacing-margin-bottom__44 {
        margin-bottom: 176px;
    }

    &.sp-style__spacing-margin-bottom__48 {
        margin-bottom: 192px;
    }

    &.sp-style__spacing-margin-bottom__52 {
        margin-bottom: 208px;
    }

    &.sp-style__spacing-margin-bottom__56 {
        margin-bottom: 224px;
    }

    &.sp-style__spacing-margin-bottom__60 {
        margin-bottom: 240px;
    }

    &.sp-style__spacing-margin-bottom__64 {
        margin-bottom: 256px;
    }

    &.sp-style__spacing-margin-bottom__72 {
        margin-bottom: 288px;
    }

    &.sp-style__spacing-margin-bottom__80 {
        margin-bottom: 320px;
    }

    &.sp-style__spacing-margin-bottom__96 {
        margin-bottom: 384px;
    }

    /* Padding Left Spacing */

    &.sp-style__spacing-padding-left__0 {
        padding-left: 0px;
    }

    &.sp-style__spacing-padding-left__0_5 {
        padding-left: 2px;
    }

    &.sp-style__spacing-padding-left__1 {
        padding-left: 4px;
    }

    &.sp-style__spacing-padding-left__1_5 {
        padding-left: 6px;
    }

    &.sp-style__spacing-padding-left__2 {
        padding-left: 8px;
    }

    &.sp-style__spacing-padding-left__2_5 {
        padding-left: 10px;
    }

    &.sp-style__spacing-padding-left__3 {
        padding-left: 12px;
    }

    &.sp-style__spacing-padding-left__3_5 {
        padding-left: 14px;
    }

    &.sp-style__spacing-padding-left__4 {
        padding-left: 16px;
    }

    &.sp-style__spacing-padding-left__5 {
        padding-left: 20px;
    }

    &.sp-style__spacing-padding-left__6 {
        padding-left: 24px;
    }

    &.sp-style__spacing-padding-left__7 {
        padding-left: 28px;
    }

    &.sp-style__spacing-padding-left__8 {
        padding-left: 32px;
    }

    &.sp-style__spacing-padding-left__9 {
        padding-left: 36px;
    }

    &.sp-style__spacing-padding-left__10 {
        padding-left: 40px;
    }

    &.sp-style__spacing-padding-left__11 {
        padding-left: 44px;
    }

    &.sp-style__spacing-padding-left__12 {
        padding-left: 48px;
    }

    &.sp-style__spacing-padding-left__14 {
        padding-left: 56px;
    }

    &.sp-style__spacing-padding-left__16 {
        padding-left: 64px;
    }

    &.sp-style__spacing-padding-left__20 {
        padding-left: 80px;
    }

    &.sp-style__spacing-padding-left__24 {
        padding-left: 96px;
    }

    &.sp-style__spacing-padding-left__28 {
        padding-left: 112px;
    }

    &.sp-style__spacing-padding-left__32 {
        padding-left: 128px;
    }

    &.sp-style__spacing-padding-left__36 {
        padding-left: 144px;
    }

    &.sp-style__spacing-padding-left__40 {
        padding-left: 160px;
    }

    &.sp-style__spacing-padding-left__44 {
        padding-left: 176px;
    }

    &.sp-style__spacing-padding-left__48 {
        padding-left: 192px;
    }

    &.sp-style__spacing-padding-left__52 {
        padding-left: 208px;
    }

    &.sp-style__spacing-padding-left__56 {
        padding-left: 224px;
    }

    &.sp-style__spacing-padding-left__60 {
        padding-left: 240px;
    }

    &.sp-style__spacing-padding-left__64 {
        padding-left: 256px;
    }

    &.sp-style__spacing-padding-left__72 {
        padding-left: 288px;
    }

    &.sp-style__spacing-padding-left__80 {
        padding-left: 320px;
    }

    &.sp-style__spacing-padding-left__96 {
        padding-left: 384px;
    }

    /* Padding Right Spacing */

    &.sp-style__spacing-padding-right__0 {
        padding-right: 0px;
    }

    &.sp-style__spacing-padding-right__0_5 {
        padding-right: 2px;
    }

    &.sp-style__spacing-padding-right__1 {
        padding-right: 4px;
    }

    &.sp-style__spacing-padding-right__1_5 {
        padding-right: 6px;
    }

    &.sp-style__spacing-padding-right__2 {
        padding-right: 8px;
    }

    &.sp-style__spacing-padding-right__2_5 {
        padding-right: 10px;
    }

    &.sp-style__spacing-padding-right__3 {
        padding-right: 12px;
    }

    &.sp-style__spacing-padding-right__3_5 {
        padding-right: 14px;
    }

    &.sp-style__spacing-padding-right__4 {
        padding-right: 16px;
    }

    &.sp-style__spacing-padding-right__5 {
        padding-right: 20px;
    }

    &.sp-style__spacing-padding-right__6 {
        padding-right: 24px;
    }

    &.sp-style__spacing-padding-right__7 {
        padding-right: 28px;
    }

    &.sp-style__spacing-padding-right__8 {
        padding-right: 32px;
    }

    &.sp-style__spacing-padding-right__9 {
        padding-right: 36px;
    }

    &.sp-style__spacing-padding-right__10 {
        padding-right: 40px;
    }

    &.sp-style__spacing-padding-right__11 {
        padding-right: 44px;
    }

    &.sp-style__spacing-padding-right__12 {
        padding-right: 48px;
    }

    &.sp-style__spacing-padding-right__14 {
        padding-right: 56px;
    }

    &.sp-style__spacing-padding-right__16 {
        padding-right: 64px;
    }

    &.sp-style__spacing-padding-right__20 {
        padding-right: 80px;
    }

    &.sp-style__spacing-padding-right__24 {
        padding-right: 96px;
    }

    &.sp-style__spacing-padding-right__28 {
        padding-right: 112px;
    }

    &.sp-style__spacing-padding-right__32 {
        padding-right: 128px;
    }

    &.sp-style__spacing-padding-right__36 {
        padding-right: 144px;
    }

    &.sp-style__spacing-padding-right__40 {
        padding-right: 160px;
    }

    &.sp-style__spacing-padding-right__44 {
        padding-right: 176px;
    }

    &.sp-style__spacing-padding-right__48 {
        padding-right: 192px;
    }

    &.sp-style__spacing-padding-right__52 {
        padding-right: 208px;
    }

    &.sp-style__spacing-padding-right__56 {
        padding-right: 224px;
    }

    &.sp-style__spacing-padding-right__60 {
        padding-right: 240px;
    }

    &.sp-style__spacing-padding-right__64 {
        padding-right: 256px;
    }

    &.sp-style__spacing-padding-right__72 {
        padding-right: 288px;
    }

    &.sp-style__spacing-padding-right__80 {
        padding-right: 320px;
    }

    &.sp-style__spacing-padding-right__96 {
        padding-right: 384px;
    }

    /* Padding Top Spacing */

    &.sp-style__spacing-padding-top__0 {
        padding-top: 0px;
    }

    &.sp-style__spacing-padding-top__0_5 {
        padding-top: 2px;
    }

    &.sp-style__spacing-padding-top__1 {
        padding-top: 4px;
    }

    &.sp-style__spacing-padding-top__1_5 {
        padding-top: 6px;
    }

    &.sp-style__spacing-padding-top__2 {
        padding-top: 8px;
    }

    &.sp-style__spacing-padding-top__2_5 {
        padding-top: 10px;
    }

    &.sp-style__spacing-padding-top__3 {
        padding-top: 12px;
    }

    &.sp-style__spacing-padding-top__3_5 {
        padding-top: 14px;
    }

    &.sp-style__spacing-padding-top__4 {
        padding-top: 16px;
    }

    &.sp-style__spacing-padding-top__5 {
        padding-top: 20px;
    }

    &.sp-style__spacing-padding-top__6 {
        padding-top: 24px;
    }

    &.sp-style__spacing-padding-top__7 {
        padding-top: 28px;
    }

    &.sp-style__spacing-padding-top__8 {
        padding-top: 32px;
    }

    &.sp-style__spacing-padding-top__9 {
        padding-top: 36px;
    }

    &.sp-style__spacing-padding-top__10 {
        padding-top: 40px;
    }

    &.sp-style__spacing-padding-top__11 {
        padding-top: 44px;
    }

    &.sp-style__spacing-padding-top__12 {
        padding-top: 48px;
    }

    &.sp-style__spacing-padding-top__14 {
        padding-top: 56px;
    }

    &.sp-style__spacing-padding-top__16 {
        padding-top: 64px;
    }

    &.sp-style__spacing-padding-top__20 {
        padding-top: 80px;
    }

    &.sp-style__spacing-padding-top__24 {
        padding-top: 96px;
    }

    &.sp-style__spacing-padding-top__28 {
        padding-top: 112px;
    }

    &.sp-style__spacing-padding-top__32 {
        padding-top: 128px;
    }

    &.sp-style__spacing-padding-top__36 {
        padding-top: 144px;
    }

    &.sp-style__spacing-padding-top__40 {
        padding-top: 160px;
    }

    &.sp-style__spacing-padding-top__44 {
        padding-top: 176px;
    }

    &.sp-style__spacing-padding-top__48 {
        padding-top: 192px;
    }

    &.sp-style__spacing-padding-top__52 {
        padding-top: 208px;
    }

    &.sp-style__spacing-padding-top__56 {
        padding-top: 224px;
    }

    &.sp-style__spacing-padding-top__60 {
        padding-top: 240px;
    }

    &.sp-style__spacing-padding-top__64 {
        padding-top: 256px;
    }

    &.sp-style__spacing-padding-top__72 {
        padding-top: 288px;
    }

    &.sp-style__spacing-padding-top__80 {
        padding-top: 320px;
    }

    &.sp-style__spacing-padding-top__96 {
        padding-top: 384px;
    }

    /* Padding Bottom Spacing */

    &.sp-style__spacing-padding-bottom__0 {
        padding-bottom: 0px;
    }

    &.sp-style__spacing-padding-bottom__0_5 {
        padding-bottom: 2px;
    }

    &.sp-style__spacing-padding-bottom__1 {
        padding-bottom: 4px;
    }

    &.sp-style__spacing-padding-bottom__1_5 {
        padding-bottom: 6px;
    }

    &.sp-style__spacing-padding-bottom__2 {
        padding-bottom: 8px;
    }

    &.sp-style__spacing-padding-bottom__2_5 {
        padding-bottom: 10px;
    }

    &.sp-style__spacing-padding-bottom__3 {
        padding-bottom: 12px;
    }

    &.sp-style__spacing-padding-bottom__3_5 {
        padding-bottom: 14px;
    }

    &.sp-style__spacing-padding-bottom__4 {
        padding-bottom: 16px;
    }

    &.sp-style__spacing-padding-bottom__5 {
        padding-bottom: 20px;
    }

    &.sp-style__spacing-padding-bottom__6 {
        padding-bottom: 24px;
    }

    &.sp-style__spacing-padding-bottom__7 {
        padding-bottom: 28px;
    }

    &.sp-style__spacing-padding-bottom__8 {
        padding-bottom: 32px;
    }

    &.sp-style__spacing-padding-bottom__9 {
        padding-bottom: 36px;
    }

    &.sp-style__spacing-padding-bottom__10 {
        padding-bottom: 40px;
    }

    &.sp-style__spacing-padding-bottom__11 {
        padding-bottom: 44px;
    }

    &.sp-style__spacing-padding-bottom__12 {
        padding-bottom: 48px;
    }

    &.sp-style__spacing-padding-bottom__14 {
        padding-bottom: 56px;
    }

    &.sp-style__spacing-padding-bottom__16 {
        padding-bottom: 64px;
    }

    &.sp-style__spacing-padding-bottom__20 {
        padding-bottom: 80px;
    }

    &.sp-style__spacing-padding-bottom__24 {
        padding-bottom: 96px;
    }

    &.sp-style__spacing-padding-bottom__28 {
        padding-bottom: 112px;
    }

    &.sp-style__spacing-padding-bottom__32 {
        padding-bottom: 128px;
    }

    &.sp-style__spacing-padding-bottom__36 {
        padding-bottom: 144px;
    }

    &.sp-style__spacing-padding-bottom__40 {
        padding-bottom: 160px;
    }

    &.sp-style__spacing-padding-bottom__44 {
        padding-bottom: 176px;
    }

    &.sp-style__spacing-padding-bottom__48 {
        padding-bottom: 192px;
    }

    &.sp-style__spacing-padding-bottom__52 {
        padding-bottom: 208px;
    }

    &.sp-style__spacing-padding-bottom__56 {
        padding-bottom: 224px;
    }

    &.sp-style__spacing-padding-bottom__60 {
        padding-bottom: 240px;
    }

    &.sp-style__spacing-padding-bottom__64 {
        padding-bottom: 256px;
    }

    &.sp-style__spacing-padding-bottom__72 {
        padding-bottom: 288px;
    }

    &.sp-style__spacing-padding-bottom__80 {
        padding-bottom: 320px;
    }

    &.sp-style__spacing-padding-bottom__96 {
        padding-bottom: 384px;
    }
}

/* Font Color and Font Size */
a,
p,
h1,
img {
    /* Font */
    &.sp-style__font-size__12 {
        font-size: 0.75rem;
        line-height: 1rem;
    }

    &.sp-style__font-size__14 {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    &.sp-style__font-size__16 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    &.sp-style__font-size__18 {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    &.sp-style__font-size__20 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    &.sp-style__font-size__24 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    &.sp-style__font-size__30 {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    &.sp-style__font-size__36 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    &.sp-style__font-size__48 {
        font-size: 3rem;
        line-height: 1;
    }

    &.sp-style__font-size__60 {
        font-size: 3.75rem;
        line-height: 1;
    }

    &.sp-style__font-size__72 {
        font-size: 4.5rem;
        line-height: 1;
    }

    &.sp-style__font-size__96 {
        font-size: 6rem;
        line-height: 1;
    }

    &.sp-style__font-size__128 {
        font-size: 8rem;
        line-height: 1;
    }
}
